body, html, .App {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  .top-container, .middle-container, .bottom-container {
    display: flex;
  }
  
  .flexible-container, .vertical-container {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    text-align: center;
  }
  
  .flexible-container:hover, .vertical-container:hover {
    background-color: #f0f0f0;
  }
  
  .vertical-container {
    display: flex;
    flex-direction: column;
  }
  
  @media screen and (max-width: 768px) {
    .top-container, .middle-container, .bottom-container {
      flex-direction: column;
    }
  }
  
